#file created when tenseal is running
__pycache__/

#contains secret and public key
keys/

#Recived and stored files in local device
encrypted_images/
recieved_images/
rc/

tempCodeRunnerFile.py

input.jpg
Recv_files/
Result_files/
Encrypted_results/